{% extends "core/page_template.html" %}
{% load static %}

{% block browserTitle %}{{ block.super}} Error 404{% endblock %}

{% block leadspace %} {% endblock  %}

{% block content %}

	<div class="flex-ns items-center justify-center custom-page overflow-hidden">	
		
		<div class="mt5 mw6 ml4 ml0-ns f4-ns">
			<div>
				<div class="f-headline">404</div>
				<h1 class="mv0 f3 fw6">Lost and (not) found.</h1>
				<p class="lh-copy">It seems the only thing you found was this 404 page.
					<br>Try going back or starting from the <a href="{% url 'myapp:home' %}" class="{{ templateHelpers.classes.link }}">home page</a>.</p>
			</div>
		</div>
		
	</div>
	
{% endblock %}
